<div class="row">
  <div class="span3 sidebar">
    <ul class="nav nav-list">
      <li>
        <h4>latest article</h4>
        <div>fffff</div>
      </li>
      <li>
        <div>sssss</div>
      </li>
      <li>
        <div>ddddd</div>
      </li>
    </ul>
  </div>
  <div class="span9">
    <% articles.forEach(function(article){ %>
      <% include ../articles/_item %>
    <% }); %>

    <div class="pagination">
      <ul>
        <li class="disabled"><span>Prev</span></li>
        <li class="active"><span>1</span></li>
        <li class=""><a href="##">2</a></li>
        <li class=""><a href="##">3</a></li>
        <li class=""><a href="##">Next</a></li>
      </ul>
    </div>
  </div>
</div>